@model DeptNameWithBranchesColorMsgTempViewModel

@* @using WebAppDam.ViewModels
@model DeptNameWithBranchesColorMsgTempViewModel *@
@* @model WebAppDam.ViewModels.DeptNameWithBranchesColorMsgTempViewModel *@
@{
    ViewData["Title"] = "DetailsVM";
}

<h1>DetailsVM</h1>
<h2>@Model.DeptName</h2>
<h2>@Model.Message</h2>
<h3>@(Model.Temp+10)</h3>

