@{
    ViewData["Title"] = "Privacy Policy";
    Layout = "_MyLayout";
}
<!--REnderBody Layout-->
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<!--Section-->

@section HeadSection{
    MEssage From View To Head Section
}
@section FooterSection {
    MEssage From View To Footer Section
}